<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="naver-site-verification" content="f4720c66d9b0305128ce9e5361766daa9f767c29" />
  <title>아주뇌졸중중개연구실</title>
  <link rel="icon" href="/images/favicon.ico">
  <link rel="stylesheet" href="/css/font.css">
  <link rel="stylesheet" href="/css/notice.css">
  <script src="/js/https.js"></script>
</head>
<body>
  <div class="flex-container">
    <%- include('nav.ejs') %>
    <div class="main">
      <div class="page-title">
        <p><strong>공지사항</strong></p>
      </div>
      <div class="page-info">
        Total <%= notice.length %>건
      </div><br>
      <div class="notice-list">
        <% for (let i=0; i<notice.length; i++) { %>
          <div class="notice-container" onclick="location.href='/notice/content/<%= notice[i]._id %>'">
            <div>
              <div id="notice-title">
                <span><strong>[공지] </strong></span><strong><%= notice[i].title %></strong>
              </div>
              <div id="notice-time">
                <%= notice[i].time %>
              </div>
            </div>
          </div>
        <% } %>
      </div>
    </div>
    <%- include('footer.ejs') %>
  </div>
</body>
</html>